body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #532a10;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #de9e4c;
}

h2 {
    color: #532a10;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #eee;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    flex: 1 1 250px;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.galeri {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* RESPONSIF UNTUK LAYAR KECIL */
@media (max-width: 768px) {
    .galeri {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form button[type="submit"] {
    background-color: #532a10;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #75401b;
}

.error{
    color: red;
    font-size: 0.8rem;
}
/* =========================================================
   FOOTER
   ========================================================= */
footer {
    background-color: #532a10;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
